@import "tailwindcss";

@theme {
  --color-greenz: oklch(0.423 0.0728 212.14);
  --color-greenz-foreground: oklch(1 0 0);
  --color-lightgreenz: oklch(0.728 0.188 163.221);
  --color-lightgreenz-foreground: oklch(1 0 0);
  --color-midgreenz: oklch(0.585 0.1133 172);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.228 0.013 255.508);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.129 0.042 264.695);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.129 0.042 264.695);
  --color-primary: oklch(0.208 0.042 265.755);
  --color-primary-foreground: oklch(0.984 0.003 247.858);
  --color-secondary: oklch(0.968 0.007 247.896);
  --color-secondary-foreground: oklch(0.208 0.042 265.755);
  --color-muted: oklch(0.968 0.007 247.896);
  --color-muted-foreground: oklch(0.554 0.046 257.417);
  --color-accent: oklch(0.968 0.007 247.896);
  --color-accent-foreground: oklch(0.208 0.042 265.755);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.929 0.013 255.508);
  --color-input: oklch(0.929 0.013 255.508);
  --color-ring: oklch(0.704 0.04 256.788);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-sidebar: oklch(0.984 0.003 247.858);
  --color-sidebar-foreground: oklch(0.129 0.042 264.695);
  --color-sidebar-primary: oklch(0.208 0.042 265.755);
  --color-sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --color-sidebar-accent: oklch(0.968 0.007 247.896);
  --color-sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --color-sidebar-border: oklch(0.929 0.013 255.508);
  --color-sidebar-ring: oklch(0.704 0.04 256.788);

  --radius: 0.5rem;

  --font-sans:
    "Google Sans Flex", "Google Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  body {
    @apply bg-background text-foreground;
  }
}
